.dom-dropdown {
  position: relative;

  .dropdown {
    position: absolute;
    top: calc(100% + 10px);
    left: 0px;
    z-index: 2;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }

  .dropdown:not(.active) {
    transform: translateY(15px);
    opacity: 0;
    pointer-events: none;
  }
}
