.js-dom-tabs {
  .tabs-wrap {
    position: relative;
    overflow: hidden;
  }
  .tab {
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  .tab:not(.active) {
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }
}

.js-dom-tabs.translate-tabs {
  .tab {
    transition-duration: 0.3s;
    transform: translateX(-100%);
    transition-property: opacity, transform;
  }
  .tab.active {
    transform: none;
  }
  .tab.active ~ .tab {
    transform: translateX(100%);
  }
}
